<div *ngIf="loading" style="position: absolute; top: 50%; left: 50%">
  <div class="spinner-border text-primary" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
</div>
<div
  *ngIf="!loading"
  style="
    margin: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  "
>
  <div class="page-header has-tab">
    <div class="d-md-flex m-b-15 align-items-center justify-content-between">
      <div class="media align-items-center m-b-15">
        <div class="m-l-15">
          <h4 class="m-b-0">{{ displayData.name }}</h4>
          <!-- <p class="text-muted m-b-0">Code: #5325</p> -->
          <div style="display: flex; align-items: center">
            <i
              class="fa fa-map-marker"
              aria-hidden="true"
              style="padding-bottom: 10px"
            ></i>
            <p style="padding-left: 5px">
              {{ displayData.address }}, {{ displayData.region }}
            </p>
          </div>
          <p>Lịch trình: {{ displayData.schedule }}</p>
        </div>
        <!-- <nz-avatar
        nzShape="square"
        [nzSize]="1000"
        [nzSrc]="displayData.images[0].image"
        style="max-height: 50vh;"
      ></nz-avatar> -->
        <img
          [src]="displayData.images[0].image"
          style="max-height: 50vh; width: 86vw; object-fit: cover"
        />
        <div style="margin-top: 10px">
          <h5>Tiện nghi</h5>
          <div *ngFor="let category of displayData.categories">
            . {{ category.name }}
          </div>
        </div>
        <h5>Mô tả: {{ displayData.description }}</h5>
      </div>
    </div>
  </div>
  <!-- <div class="row">
  <div class="col-md-3">
    <nz-card>
      <div class="media align-items-center">
        <i
          class="font-size-40 text-success"
          nz-icon
          nzType="smile"
          theme="outline"
        ></i>
        <div class="m-l-15">
          <p class="m-b-0 text-muted">10 ratings</p>
          <nz-rate [ngModel]="4.5" nzDisabled></nz-rate>
        </div>
      </div>
    </nz-card>
  </div>
  <div class="col-md-3">
    <nz-card>
      <div class="media align-items-center">
        <i
          class="font-size-40 text-primary"
          nz-icon
          nzType="shopping-cart"
          theme="outline"
        ></i>
        <div class="m-l-15">
          <p class="m-b-0 text-muted">Orders</p>
          <h3 class="m-b-0 ls-1">500</h3>
        </div>
      </div>
    </nz-card>
  </div>
  <div class="col-md-3">
    <nz-card>
      <div class="media align-items-center">
        <i
          class="font-size-40 text-primary"
          nz-icon
          nzType="message"
          theme="outline"
        ></i>
        <div class="m-l-15">
          <p class="m-b-0 text-muted">Reviews</p>
          <h3 class="m-b-0 ls-1">27</h3>
        </div>
      </div>
    </nz-card>
  </div>
  <div class="col-md-3">
    <nz-card>
      <div class="media align-items-center">
        <i
          class="font-size-40 text-primary"
          nz-icon
          nzType="stock"
          theme="outline"
        ></i>
        <div class="m-l-15">
          <p class="m-b-0 text-muted">Available Stock</p>
          <h3 class="m-b-0 ls-1">152</h3>
        </div>
      </div>
    </nz-card>
  </div>
</div> -->
  <h5>Danh sách tour:</h5>
  <nz-card *ngFor="let subTour of displayData.subTours">
    <div class="row">
      <div class="col-sm-6">
        <p>Check in: {{ formatDate(subTour.checkIn) }}</p>
        <p>Check out: {{ formatDate(subTour.checkOut) }}</p>
        <p>Slot: {{ subTour.slot }}</p>
      </div>
      <div class="col-sm-6">
        <div
          *ngFor="let trans of subTour.transportations"
          style="display: flex; align-items: center; justify-content: space-between;"
        >
          <div>
            <p>Phương tiện: {{ trans.type }}</p>
            <p>Giá: {{ trans.subCharge | number: "3.0-5" }}VND</p>
            <p>Khởi hành ở: {{ trans.startFrom }}</p>
          </div>
          <button nz-button nzType="primary" (click)="goOrder()">Đặt ngay</button>
        </div>
      </div>
    </div>
  </nz-card>
</div>
