<header>

    <div id="menu-bar" class="fas fa-bars"></div>

    <!-- <a href="#" class="logo"><span>T</span>ravel</a> -->
    <img src="assets/logo.png" class="logo"/>

    <nav class="navbar">
        <a href="#home">Home</a>
        <a href="/tour">Tour</a>
        <a href="#packages">History</a>
        <a href="#services">Services</a>
        <!-- <a href="#gallery">gallery</a>
        <a href="#review">review</a> -->
        <a href="#contact">Contact</a>
    </nav>

    <nz-modal
      [(nzVisible)]="isVisible"
      nzTitle="Login"
      [nzOkLoading]="isOkLoading"
      (nzOnCancel)="handleCancel()"
      [nzFooter]="null"
    >
      <div *nzModalContent>       
            <form onsubmit="onLogin()" action="" class="login-form">
                <input type="email" class="box" placeholder="enter your email">
                <input type="password" class="box" placeholder="enter your password">
                <input type="submit" value="login now" class="btn" (click)="onLogin()">
                <input type="checkbox" id="remember">
                <label for="remember">remember me</label>
                <p>forget password? <a href="#">click here</a></p>
                <p>don't have and account? <a href="#">register now</a></p>
            </form>      
        </div>
    </nz-modal>

    <div class="icons">
        <i class="fas fa-search" id="search-btn"></i>
        <a (click)="showModal()"><i class="fas fa-user" id="login-btn"></i></a>
    </div>

    <form action="" class="search-bar-container">
        <input type="search" id="search-bar" placeholder="search here...">
        <label for="search-bar" class="fas fa-search"></label>
    </form>

</header>

