<div *ngIf="loading">
  <div class="spinner-border text-primary" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
</div>
<!-- <div
  style="display: flex; margin-right: 20px; margin-bottom: 10px; width: 100%;"
  *ngFor="let item of displayData"
>
  <img
    src="{{ item.images[0].image }}"
    alt="..."
    style="width: 14rem; height: 14rem; object-fit: cover"
  />
  <div class="card-body" style="border: 1px solid grey">
    <h3 class="card-title">{{ item.name }}</h3>
    <h5>Lịch trình: {{ item.schedule }}</h5>
    <h5>Số ngày: {{ item.duration }}</h5>
    <h5>Mô tả: {{ item.description }}</h5>
  </div>
  <div
    class="card-body"
    style="
      display: flex;
      justify-content: center;
      flex-direction: column;
      border: 1px solid grey;
      border-top-right-radius: 10px;
      border-bottom-right-radius: 10px;
    "
  >
    <h5 style="text-align: center">{{ item.address }}</h5>
    <h5 style="text-align: center">{{ item.region }}</h5>
    <h4 style="text-align: center">{{ item.price | number: "3.0-5" }}VND</h4>
    <button type="button" class="btn btn-primary" (click)="goInfo(item.id)">
      Đặt ngay
    </button>
  </div>
</div> -->
<div class="packages" style="padding: 10px;">
<div class="box-container" style="display: block;">
<div class="box" *ngFor="let item of displayData" style="margin-top: 15px; display: flex; align-items: center; justify-content: space-between;">
  <div style="display: flex;">
  <img src="{{ item.images[0].image }}" alt="">
  <div class="content">
      <h3> <i class="fas fa-map-marker-alt"></i> {{ item.address }} </h3>
      <h4> {{ item.name }} </h4>
      <!-- <p>{{ item.schedule }}</p> -->
      <p>Số ngày: {{ item.duration }}</p>
      <p>{{ item.description }}</p>
      <div class="stars">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="far fa-star"></i>
      </div>
  </div>
  </div>
  <div style="margin-right: 15px; text-align: center;">
    <div class="price"> {{ item.price | number: "3.0-5" }}VND </div>
      <a class="btn" (click)="goInfo(item.id)">Book Now!</a>
  </div>
</div>
</div></div>