
    <div class="row" style="padding: 10px;">
        <h2 style="text-align: center;">Tìm kiếm</h2>
        <!-- <div class="input-group">
            <label class="input-group-text" for="inputGroupSelect01">Địa điểm</label>
            <select class="form-select" id="inputGroupSelect01">
                <option value="1">Đà Lạt</option>
                <option value="2">Nha Trang</option>
                <option value="3">Đà Nẵng</option>
            </select>
        </div> -->
        <input nz-input placeholder="Tên tour" formControlName="name" />
        <div style="margin-top: 15px;">
            <!-- <h3>Địa điểm</h3> -->
            <!-- <input type="number" placeholder="number of guests"> -->
              <nz-form-control>
                <nz-select
                  [(ngModel)]="selectedAddress"
                  formControlName="address"
                  nzPlaceHolder="Chọn địa điểm"
                  style="width: 100%; margin-top: 15px"
                >
                <nz-option nzValue="Đà Nẵng" nzLabel="Đà Nẵng"></nz-option>
                <nz-option nzValue="Nha Trang" nzLabel="Nha Trang"></nz-option>
                <nz-option nzValue="Đà Lạt" nzLabel="Đà Lạt"></nz-option>
                <nz-option nzValue="Vũng Tàu" nzLabel="Vũng Tàu"></nz-option>
                <nz-option nzValue="Phú Quốc" nzLabel="Phú Quốc"></nz-option>
                <nz-option nzValue="Bình Định" nzLabel="Bình Định"></nz-option>
                </nz-select>
              </nz-form-control>
        </div>
    </div>


